.left-side-menu {
    width: 240px;
    background: #fff;
    bottom: 0;
    padding: 20px 0;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 70px;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

#sidebar-menu > ul {
    list-style: none;
    padding: 0;
}

#sidebar-menu > ul > li > a {
    color: #6e768e;
    display: block;
    padding: 12px 20px;
    position: relative;
    transition: all 0.4s;
    font-family: "Cerebri Sans, sans-serif";
    font-size: 0.95rem;

    &:active,
    &:focus,
    &:hover {
        color: #00acc1;
        text-decoration: none;
    }

    > span {
        vertical-align: middle;
    }

    > i {
        display: inline-block;
        line-height: 1.0625rem;
        margin: 0 10px 0 3px;
        text-align: center;
        vertical-align: middle;
        width: 16px;
        font-size: 18px;
    }

    > svg {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        margin-right: 10px;
    }

    > .drop-arrow {
        float: right;

        > i {
            margin-right: 0;
        }
    }

    &.mm-active {
        color: #00acc1;
    }

    ul {
        padding-left: 34px;
        list-style: none;

        ul {
            padding-left: 20px;
        }
    }

    .badge {
        margin-top: 4px;
    }

    &.menuitem-active > a {
        color: #00acc1;
    }

    &.menuitem-active > .active {
        color: #00acc1;
    }
}

.menu-title {
    padding: 10px 20px;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: #6e768e;
    font-weight: 600;
}

.menu-arrow {
    transition: transform 0.15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: 'Material Design Icons';
    text-rendering: auto;
    line-height: 1.5rem;
    font-size: 1.1rem;
    transform: translate(0, 0);

    &:before {
        content: "\F0142";
    }
}

li > a[aria-expanded=true] > span.menu-arrow {
    transform: rotate(90deg);
}

li.menuitem-active > a:not(.collapsed) > span.menu-arrow {
    transform: rotate(90deg);
}


.nav-second-level {
    padding-left: 34px;
    list-style: none;
    li {
        a {
            padding: 8px 20px;
            color: #6e768e;
            display: block;
            position: relative;
            transition: all 0.4s;
            font-size: 0.875rem;

            &:focus,
            &:hover {
                color: #00acc1;
            }

            &.active > a {
                color: #00acc1;
            }
        }
    }
}


// Right Sidebar css

.right-bar {
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    display: block;
    position: fixed;
    transition: all 0.2s ease-out;
    width: 260px;
    z-index: 9999;
    float: right !important;
    right: -270px;
    top: 0;
    bottom: 0;

    .rightbar-title {
        background-color: #6658dd;
        padding: 27px 25px;
        color: #fff;
    }

    .right-bar-toggle {
        background-color: #414b5b;
        height: 24px;
        width: 24px;
        line-height: 27px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        margin-top: -4px;

        &:hover {
            background-color: #475364;
        }
    }

    .user-box {
        padding: 25px;
        text-align: center;

        .user-img {
            position: relative;
            height: 64px;
            width: 64px;
            margin: 0 auto 15px auto;

            .user-edit {
                position: absolute;
                right: -5px;
                bottom: 0;
                height: 24px;
                width: 24px;
                background-color: #fff;
                line-height: 24px;
                border-radius: 50%;
                box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
            }
        }

        h5 {
            margin-bottom: 2px;

            a {
                color: #323a46;
            }
        }
    }

    .notification-item {
        .media {
            padding: 0.75rem 1rem;

            &:hover {
                background-color: #f3f7f9;
            }
        }

        .user-status {
            position: absolute;
            right: 0;
            bottom: -4px;
            font-size: 10px;

            &.online {
                color: #1abc9c;
            }

            &.away {
                color: #f7b84b;
            }

            &.busy {
                color: #f1556c;
            }
        }
    }
}




body[data-layout-mode=two-column] .left-side-menu {
    width: calc(70px + 220px);
    background-color: transparent;
    box-shadow: none
}

body[data-layout-mode=two-column] .sidebar-icon-menu {
    position: fixed;
    width: 70px;
    z-index: 500;
    top: 0;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #6658dd
}

body[data-layout-mode=two-column] .sidebar-icon-menu .logo {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center
}

body[data-layout-mode=two-column] .sidebar-icon-menu .nav {
    background-color: transparent;
    margin: 24px auto
}

body[data-layout-mode=two-column] .sidebar-icon-menu .nav .nav-link {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 12px auto;
    padding: 0;
    border-radius: 4px
}

body[data-layout-mode=two-column] .sidebar-icon-menu .nav .nav-link.active {
    background-color: rgba(255, 255, 255, .12)
}

body[data-layout-mode=two-column] .sidebar-icon-menu .nav .nav-link svg {
    color: #fff;
    fill: rgba(255, 255, 255, .12);
    height: 22px;
    width: 22px
}

body[data-layout-mode=two-column] .sidebar-main-menu {
    display: block;
    position: fixed;
    width: 220px;
    background-color: #fff;
    top: 70px;
    bottom: 0;
    left: 70px;
    padding: 30px 5px;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    transition: all .1s ease-out
}

body[data-layout-mode=two-column] .sidebar-main-menu .sidebar-menu-body {
    padding: 20px
}

body[data-layout-mode=two-column] .sidebar-main-menu .menu-title {
    color: #adb5bd !important;
    margin: 0;
    padding: 10px 20px;
    letter-spacing: .05em;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav>.nav-item>.nav-link {
    color: #6e768e;
    font-size: .95rem;
    font-family: "Cerebri Sans,sans-serif"
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav>.nav-item .menu-arrow {
    right: 10px
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav .nav-link {
    position: relative;
    color: #6e768e;
    padding: 6px 15px;
    border-radius: 3px;
    margin: 3px 5px
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav .nav-link.active,
body[data-layout-mode=two-column] .sidebar-main-menu .nav .nav-link:focus,
body[data-layout-mode=two-column] .sidebar-main-menu .nav .nav-link:hover {
    color: #00acc1
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav .menuitem-active>a.nav-link {
    color: #00acc1;
    background-color: rgba(0, 172, 193, .07)
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav .menuitem-active a.active {
    color: #00acc1
}

body[data-layout-mode=two-column] .sidebar-main-menu #sidebar-menu .menu-arrow {
    top: 7px
}

body[data-layout-mode=two-column] .sidebar-main-menu .nav-second-level {
    padding-left: 15px;
    list-style: none
}




body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu {
    background-color: #38414a
}

body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav>.nav-item>.nav-link {
    color: #9097a7
}

body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav .nav-link.active,
body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav .nav-link:focus,
body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav .nav-link:hover {
    color: #c8cddc
}

body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav .menuitem-active>a.nav-link {
    color: #00acc1;
    background-color: rgba(0, 172, 193, .07)
}

body[data-layout-mode=two-column][data-sidebar-color=dark] .sidebar-main-menu .nav .menuitem-active a.active {
    color: #00acc1
}

body[data-layout-mode=two-column][data-sidebar-color=brand] .sidebar-main-menu .nav>.nav-item>.nav-link,
body[data-layout-mode=two-column][data-sidebar-color=gradient] .sidebar-main-menu .nav>.nav-item>.nav-link {
    color: rgba(255, 255, 255, .7)
}

body[data-layout-mode=two-column][data-sidebar-color=brand] .sidebar-main-menu .nav .nav-link.active,
body[data-layout-mode=two-column][data-sidebar-color=brand] .sidebar-main-menu .nav .nav-link:focus,
body[data-layout-mode=two-column][data-sidebar-color=brand] .sidebar-main-menu .nav .nav-link:hover,
body[data-layout-mode=two-column][data-sidebar-color=gradient] .sidebar-main-menu .nav .nav-link.active,
body[data-layout-mode=two-column][data-sidebar-color=gradient] .sidebar-main-menu .nav .nav-link:focus,
body[data-layout-mode=two-column][data-sidebar-color=gradient] .sidebar-main-menu .nav .nav-link:hover {
    color: rgba(255, 255, 255, .9)
}

body[data-layout-mode=two-column][data-sidebar-color=brand] .sidebar-main-menu {
    background-color: #4a81d4
}

body[data-layout-mode=two-column][data-sidebar-color=gradient] .sidebar-main-menu {
    background: #683ba9;
    background-image: linear-gradient(270deg, rgba(64, 149, 216, .15), transparent)
}

body[data-layout-mode=two-column][data-layout-width=boxed] .navbar-custom {
    max-width: calc(1300px - 70px)
}

body[data-layout-mode=two-column][data-layout-width=boxed] .sidebar-main-menu {
    position: absolute;
    top: 0
}

body[data-layout-mode=two-column][data-layout-width=boxed]:not([data-sidebar-size=condensed]) .footer {
    max-width: calc(1300px - calc(70px + 220px))
}


body[data-sidebar-icon=twotones] #sidebar-menu>ul>li>a i {
    color: #4a81d4
}

body[data-sidebar-icon=twotones] #sidebar-menu>ul>li>a svg {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-right: 10px;
    color: #4a81d4;
    fill: rgba(74, 129, 212, .2)
}
