// Define variables for font sizes and breakpoints
$base-font-size: 16px;
$heading-font-size: 2em;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;


// Font Size
$font-sm-size: 12px;
$font-md-size: 14px;
$font-lg-size: 16px;
$font-xl-size: 18px;
$font-xxl-size: 20px;
$font-xxxl-size: 24px;