.product-box {
    position: relative;
    overflow: hidden
}

.product-box .product-action {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem 1.5rem 0 1.5rem;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all .3s ease 0s
}

.product-box:hover .product-action {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.product-box .product-info {
    padding-top: 1.5rem
}

.product-box .product-price-tag {
    height: 48px;
    line-height: 48px;
    font-weight: 700;
    font-size: 20px;
    background-color: #f3f7f9;
    text-align: center;
    padding: 0 10px;
    border-radius: 3px
}