.footer {
    bottom: 0;
    padding: 19px 15px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 240px;
    background-color: #eeeff3;

    .footer-links a {
        color: #98a6ad;
        margin-left: 1.5rem;
        transition: all 0.4s;

        &:hover {
            color: #323a46;
        }

        &:first-of-type {
            margin-left: 0;
        }
    }
    
    &-alt {
        left: 0 !important;
        text-align: center;
        background-color: transparent;
    }

    @media (max-width: 767.98px) {
        left: 0 !important;
        text-align: center;
    }

    body[data-layout-mode='horizontal'] & {
        left: 0 !important;
    }

    body[data-layout-mode='horizontal'][data-layout-width='boxed'] & {
        max-width: 1300px !important;
    }

    @media (min-width: 992px) {
        body[data-layout-mode='detached'] & {
            position: inherit;
            margin: 0 10px;
        }
    }
}